.pagination {
  width: 30rem;
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
}
.pagination__btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0.4rem;
  cursor: pointer;
  text-align: center;
  vertical-align: center;
  border: none;
  background-color: gray;
  color: white;
  transition: all 0.3s ease-in-out;
}
.pagination__btn:active {
  transform: scale(1.1);
}
.pagination__btn--big {
  width: 4rem;
  border-radius: 0.3rem;
  background-color: black;
  color: white;
}

.pagination__btn--disable {
  background-color: #e5e5e5;
}
.pagination__btn--disable:active {
  transform: unset;
  transition: none;
}
.pagination__btn--active {
  background-color: black;
  color: white;
}
